<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Responsive Video</title>
    <meta name="about" content="">

        <!-- external CSS link -->
		<link rel="stylesheet" href="../static/css/about/normalize.css">
		<link rel="stylesheet" href="../static/css/about/style.css">
</head>
    <body>

        <header>
            <nav>
                <ul>
                    <a href="home"><li class="link"><h2>Home</h2></li></a>	
                    <a href="about"><h2><li class="link">About</li></h2></a>
                </ul>
            </nav>
        </header>
        
        <iframe width="1241" height="698" src="https://www.youtube.com/embed/0ae2q700NNc?autoplay=1" title="256(?) Sorting Algorithms in 3 Hours (feat. ArrayV Has a Mental Breakdown)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
        <p>
            <table>
                <tr> <!--table row-->
                    <th><h3>Sorting Method</h3></th>    <th><h3>Complexity</h3></th>   <th><h3>Use case</h3></th>
                </tr>
                
                <tr><!--table row -->
                    <!--cell-->
                    <td><a class="link" href="https://www.geeksforgeeks.org/selection-sort-algorithm-2/">Selection Sort</a></th></td>
                    <td>O(N^2)</td>
                    <td>Used when memory writes (or swaps) are costly for example EEPROM or Flash Memory.</td>
                </tr>
                
                <tr>
                    <td><a class="link" href="https://www.geeksforgeeks.org/bubble-sort-algorithm/">Bubble Sort Algorithm</a></td>
                    <td>O(N^2)</td>
                    <td>almost-sorted arrays and fix it with just linear complexity (2n).</td>
                </tr>

                <tr>
                    <td><a class="link" href="https://www.geeksforgeeks.org/insertion-sort-algorithm/">Insertion Sort </a></td>
                    <td>O(N^2 )</td>
                    <td>The list is small or nearly sorted.</td>
                </tr>

            </table>
        </p>
    </body>
</html>