<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Free Access Media Fetcher</title>
    <meta name="about" content="">

        <!-- external CSS link -->
		<link rel="stylesheet" href="../static/css/about/normalize.css">
		<link rel="stylesheet" href="../static/css/about/style.css">
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="home"><li class="link"><h2>Home</h2></li></a>	
                    <a href="about"><h2><li class="link">About</li></h2></a>
                </ul>
            </nav>
        </header>
        
    
        <section class="s1">
         <p class="p0">
            Basic Usage Overview
            This is a quick, basic overview of how to use this software. For a full usage guide, please see the
            section following this one.
         </p>
         <p class="p1">
            1. Enter the URL of the site you wish to scrape into the URL input field on the Home page.
         </p>
         <p class=" = p2">
            2. Select the type of data you would like to scrape and then click the "Search" button. The
               table on the right side of the page will be populated with all results that were found.
         </p>

         <p class="p3">
            3. Select the data you wish to download from the table of results and click either the
            "Download Raw" or “Download Zip” buttons above the table (depending on your
            preference) to download it to your local machine.
         </p>
         </section>

        <section class="s2" id="foot">
            <p class="p2">
                Copyright (c) 2024 Free Access Media Fetcher.

                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

                The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

            </p>
        </section>
       
    </body>

</html>