<!DOCTYPE html>
<html lang="en">
<!-- start head -->
<head>
    <meta charset="utf-8" />
    <meta name="homepage" content="" />

    <!-- external CSS link -->
    <link rel="stylesheet" href="../static/css/home/normalize.css" />
    <link rel="stylesheet" href="../static/css/home/style.css" />
</head>
<!-- end head -->

<header>
    <div class="title">
        <p id="Title_block">
            <h1>Free Access Media Fetcher</h1>
        </p>
    </div>

    <nav>
        <ul>
            <li class="link"><a href="home"><h2>Home</h2></li></a>
            <li class="link"><a href="about"><h2>About</li></h2></a>
        </ul>
    </nav>
</header>
<body>
    <section class="s1">
        <!-- Form on the left -->
        <div class="form-container">
            <form class="form-main" id="GOLDEN RETRIEVER">
                <a id="form-title"><h3>MEDIA FETCHER</h3></a>
                <label for="url"><b>URL:</b><a class="eg"></a></label>
                <input type="text" class="retriever" id="url_search" name="user_input_url" value="https://w3schools.com" />
                <input type="submit" value="Search" id="search_button" class="scraper" /><br />
     
                <!-- Filter Box -->
                <div class="filter-box">
                    <h4>Data Type Selection</h4>
                    <form>
                    <input type="radio" class="retriever" id="webpage" name="retriever_selection" value="web_page" />
                    <label>Web Page</label><br>
                    
                    <input type="radio" class="retriever" id="text" name="retriever_selection" value="text" />
                    <label>Text Blocks</label><br>
                    
                    <input type="radio" class="retriever" id="Photos" name="retriever_selection" value="image" checked /><!-- defalt checked box -->
                    <label>Photos</label><br>    
                    </form>
                </div>
            </form>
        </div>

        <!-- Table on the right -->
        <section id="output">

            <table id= "controls">
                <thead>
                    <tr id="controll_panel" class="control">
                        <th class="control"><button type="button" class="button" id="Select_All">Select All</button></th>
                        <th class="control"><button type="button" class="button" id="Deselect_All">Deselect All</button></th>
                        <th class="control"><button type="button" class="button" id="Remove">Remove</button></th>
                        <th class="control"><button type="button" class="button" id="Remove_All">Remove All</button></th>
                        <th class="control"><button type="button" class="button" id="download_raw">Download Raw</button></th>
                        <th class="control"><button type="button" class="button" id="download_zip">Download Zip</button></th>
                    </tr>
                </thead>
                </table>



                <table id="output_table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Link</th>
                        <th>Selected</th>
                        <th>Preview</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </section>

    <section class="s2">
        <div id="d1">
        </div>
    </section>

    <section id="s3"></section>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>