/******************************************
    /* Box Model Hack */
    * {
        box-sizing: border-box;
    }
    
    /******************************************
        /* LAYOUT */
    
    body {
        background-color: rgb(243, 208, 118);
        margin: 5%;
        padding: 2%;
    }
    
    .title {
        font-family: 'Lucida Handwriting', cursive;
        border: 1px solid;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    
        nav ul li {
            padding: 1em 2em;
            color: black;
        }
    
            nav ul li a:visited {
                color: black;
            }
    
    p {
        font-family: monospace;
        font-size: medium;
    }
    
    header div {
        background-color: lightgray;
    }
    
    .s1 {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .form-container {
        flex: 1;
        padding-right: 20px;
    }

    .form-main {
        padding: 10px;
        border: 1px solid black;
        min-width: 203px;
    }
    
    .filter-box {
        background-color: #ddd;
        padding-left: 10px;
    }
    
    #output {
        flex: 0 0 30%;
        margin-left: 10px;
    }
    
    /* Table Styles */
    table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: lightgray;
        margin: 1em 0; /* Adds space between tables if needed */
    }
    
    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    #controls {
        margin-bottom: 3%; /* Adds space below the button table */
    }
    
    .parent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        border: 1px solid black;
    }
    
    input[type="text"] {
        width: 80%;
        max-width: 400px;
        padding: 10px;
        font-size: 16px;
    }
    
    /* Button Styling */
    button {
        padding: 5px;
        font-size: small;
        max-width: 5em;
        height: 3em;
        display: inline-block;
        margin-right: 5px; /* Adds space between buttons */
    }
    
    section#output {
        display: flex;
        flex-direction: column; /* Stacks tables vertically */
        align-items: flex-start; /* Aligns tables to the left */
        width: 50%; /* Adjust width as needed */
    }
    
    #controls {
        margin-bottom: 1em; /* Adds space below the controls table */
    }
    
    table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: lightgray;
        margin: 0; /* removes margins */
    }
    
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    /******************************************
        /* ADDITIONAL STYLES */