<!DOCTYPE html>
<html lang="en">
	
	<!-- start head -->
	<head>
    <meta charset="utf-8">
	<meta name="homepage" content="">
   
		<!-- external CSS link -->
		<link rel="stylesheet" href="../static/css/home/normalize.css">
		<link rel="stylesheet" href="../static/css/home/style.css">


	</head> 
	<!-- end head -->

	<header>
		<div class="title"><p><h1>Free Access Media Fetcher</h1></p></div>
		
		<nav>
			<ul>
				<li class="link"><a href="home"><h2>Home</h2></li></a>	
				<li class="link"><a href="about"><h2>About</li></h2></a>
			</ul>
		</nav>

	</header>	
	<body>

		<section class="s1">
			
			<form class="form" id="GOLDEN RETRIEVER">
				<a id="formTitle"><h3>GOLDEN RETRIEVER</h3></a>
				<a class="retriever" >
				<label for="url">URL:<a class="eg"></a>  </label><br>
				<input type="text" class="retriever" id="url" name="user_input_url" value="https://x.com/rickastley"><br>
				<input type="checkbox" class="retriever" id="text" name="Text retriever " value="text"> <lable>Retrieve Text Blocks</lable><br>
				<input type="checkbox" class="retriever" id="pics" name="Photos retriever " value="photos"> <lable>Retrieve Photos</lable><br>
				<input type="checkbox" class="retriever" id="Audio" name="Audio retriever " value="Audio"> <lable>Retrieve Audio</lable><br>
				<input type="checkbox" class="retriever" id="Video" name="Video retriever " value="Video"> <lable>Retrieve Video</lable><br>
				<br><input type="submit" value="Search">
				</a>
			</form>
		
		</section>
		<section id="s2">
			<div id="d1">
				<p id="p1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptas totam dolore fugiat minus magni voluptatibus? Repellendus, ullam, cupiditate beatae perspiciatis assumenda neque ducimus quis perferendis asperiores nesciunt eum inventore?</p>
				<p id="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat officia sunt amet quam dolorem omnis quis fugiat voluptatibus nobis, quidem eos eligendi dolorum nesciunt saepe rem suscipit corporis unde eaque? Rem, similique placeat.</p>
				<p id="p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi illum ex nam soluta deleniti corrupti magnam ullam doloribus inventore autem laborum delectus alias rem neque ad, commodi minus quaerat assumenda, optio sit? Maxime quod praesentium natus culpa nam nesciunt cumque quasi ex? Dignissimos provident numquam reprehenderit reiciendis. Laboriosam, nemo iure! Itaque modi tempore minima nemo.</p>
				<p id="p4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quos ducimus optio voluptates. Assumenda aperiam fugit repellat voluptatem exercitationem quo similique explicabo reiciendis minus. Blanditiis, odio nam ullam quaerat magni odit dolorem nesciunt?</p>
			</div >
		<section>

		<section id="s3">
			
		</section>
				
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
